body{
    font-family: Arial, Helvetica, sans-serif;
}
.hero-main{
    background-color: #1f2937;
    color: #f9faf8;
    padding: 1em 10vw;
}


.header{
    justify-content: space-between;
    display: flex;
    margin: 0 auto;  
    padding: 0.5em 0;
    gap: 20px;
    
    color: #f9faf8;
    font-size: 24px;
}

.header-links{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.header-links a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}


.hero-body{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    gap: 3vw;
}

.hero-text1{
    font-size: 48px;
    font-weight: 800;
}

.hero-text2{
    color: #e5e7eb;
    font-size: 18px;
}


.hero-right{
    display: flex;
    justify-content:right;
    height: 200px;
    object-fit: fill;
}

button{
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 5px;
    border: #f9faf8 solid 1px;
    height: max-content;
    padding: 5px 15px;
    margin: 10px 0;
    min-width: fit-content;
}

.info-main{
    padding: 1em 20vw;
    margin: 10px;
    text-align: center;
    height:max-content;
}

.info-header{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.box-container{
    display: flex;
    gap: 3vw;
}

.boxes{
gap: 1vw;
display: flex;
flex-direction: column;
align-items: space-between;
}

.boxes img{
    width: 100%;
    border-radius: 10px;
    border: #3882f6 solid 2px;
    max-width: 20vw;
   }

.quote-main{
    background-color: #e5e7eb;
    color: #1f2937;
    padding: 1em 20vw;
    font-style: italic;
}

.quote{
    text-align: center;
}

.quote-credit{
    text-align: right;
}

.action-main{
    border-radius: 10px;    
    margin: 1em 10vw;
    padding: 20px 50px;
    background-color: #3882f6;
    color: #f9faf8;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.action-header{
    font-weight: bold;
}